<div class="no-header-in">
<!-- <ion-header-bar class="bar-balanced material-background-nav-bar bar bar-header disable-user-behavior __web-inspector-hide-shortcut__" align-title="left"><div class="buttons buttons-left header-item"><span class="left-buttons">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()" tabindex="0"></a>
            </span></div><div class="title title-left header-item" style="left: 50px; right: 74px;"></div><div class="buttons buttons-right"><span class="right-buttons">
        <button class="md-icon-button ion-nav-button-right md-button md-default-theme" ng-transclude="" ng-disabled="isLoading" ng-click="navigateTo('app.contractsetting')" aria-label="Setting" tabindex="0" aria-disabled="false">
            <i class="ion-android-more-vertical"></i>
        </button>
    </span></div></ion-header-bar> -->
    
	<ion-nav-view name="scanner"></ion-nav-view>
</div>
