<ion-view title="Food Itema">
  <ion-content class="has-header margin-top">
    
    <ion-spinner ng-show="loading" icon="spiral"></ion-spinner>
    <!-- <div ng-bind-html="message"></div> -->
    

        <!-- top area of Profile -->
        
        




    <div class="row">
        <div class="col col-10"></div>
                <div class="row">
                    <div class="col col-100 box-1">
                        <ul class="list heading">
                            <li class="item item-manual top-none font-bold">
                                <i class="icon ion-android-contacts left-5 "></i>
                                My Profile
                                <i class="icon ion-ios-arrow-forward ion-arrow-manual"></i>
                            </li>
                            
                            <li class="item item-manual menu">
                                <i class="icon ion-android-calendar  top-3 left-5 profile-icon2"></i>
                                Search Food
                                <i class="icon ion-ios-arrow-forward ion-arrow-manual"></i>
                            </li>

                            <li class="item item-manual menu">
                                <i class="icon ion-android-camera  top-3 left-5 profile-icon2"></i>
                                Saved Food
                                <i class="icon ion-ios-arrow-forward ion-arrow-manual"></i>
                            </li>

                            <li class="item item-manual menu">
                                <i class="icon top-3 ion-android-document left-5 profile-icon2"></i>
                                Browae Food
                                <i class="icon ion-ios-arrow-forward ion-arrow-manual"></i>
                            </li>

                            <li class="item item-manual menu">
                                <i class="icon top-3 ion-ios-list left-5 profile-icon2"></i>
                                Articles
                                <i class="icon ion-ios-arrow-forward ion-arrow-manual"></i>
                            </li>

                            <li class="item item-manual menu">
                                <i class="icon top-3 ion-ios-lightbulb-outline left-5 profile-icon2"></i>
                                Diet Tips
                                <i class="icon ion-ios-arrow-forward ion-arrow-manual"></i>
                            </li>

                            <li class="item item-manual menu">
                                <i class="icon top-3 ion-android-search left-5 profile-icon2"></i>
                                About Lavo
                                <i class="icon ion-ios-arrow-forward ion-arrow-manual"></i>
                            </li>
 
                            <li class="item item-manual menu">
                                <i class="left-5 top-3 profile-icon2"></i>
                                <i class="ion-arrow-manual"></i>
                            </li>

                            <li class="item item-manual menu">
                                <i class="left-5 top-3 profile-icon2"></i>
                                <i class="ion-arrow-manual"></i>
                            </li>

                            <li class="item item-manual menu">
                                <i class="left-5 top-3 profile-icon2"></i>
                                <i class="ion-arrow-manual"></i>
                            </li>
                            
                        </ul>
                    </div>
                </div>
        <div class="col col-10"></div>
    </div>

    
  </ion-content>
</ion-view>
