<ion-view title="Settings">
  <ion-content class="has-header margin-top">
    <!-- <ion-spinner ng-show="loading" icon="spiral"></ion-spinner> -->
    <!-- <div ng-bind-html="message"></div> -->
    <!-- top area of Profile -->
    <div class="row"> 
        <div class="col col-100">
            <div class="box">
                <div class="profile-data">
                    <div class="row">
                        <div class="col col-25">
                            <i class="icon ion-android-contacts profile-icon"></i>
                        </div>
                        
                        <div class="col col-75 profile-name padding-left">
                            <h1 class="padding-top">{{user.first_name}} {{user.last_name}}</h1>
                            <p>@{{user.email}}</p>
                        </div>

                    </div>
                </div>
                
                <div class="seperator"></div>

                <div class="logout">
                    <div class="row">
                        <div class="col col-100 text-center">

                            <a class="button button-positive button-manual padding-l-r" href="#/logout">
                                <h1>Logout Out</h1>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Top Area Ended -->




<!-- Account-Details Area -->

    <div class="row">
            <div class="col col-100 acc-details">
                <h1>Account-details</h1>
            </div>
    </div>

    <div class="row">
        <div class="col col-100 box">
            <ul class="list">
                <li class="item item-manual top-none">Private Account
                    <label class="checkbox label-checkbox">
                        <input ng-model="user_data.privacy" type="checkbox">
                    </label>
                </li>
                
                <li class="item item-manual">Email Information
                    <label class="checkbox label-checkbox">
                        <input ng-model="user_data.notification" type="checkbox">
                    </label>
                </li>
                
                <li class="item item-toggle">
                 Delete Account
                 <label class="toggle toggle-assertive">
                   <input ng-model="user_data.delete_account" ng-change="delete_acc_prompt()" type="checkbox"><div class="track"><div class="handle"></div></div>
                 </label>
                </li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col col-100 text-center">
            <button ng-click="update_setting()" class="button button-setting">
                <div class="row">
                    <div class="col col-100 text-center">
                        <h2><i><img src="img/password-white.png"></i>Update Setting</h2>
                    </div>
                </div>
            </button>
        </div>
    </div>    
  </ion-content>
</ion-view>
