<ion-view>
  <ion-content padding="true" class=" loginBG">
        <div class="button-bar"></div>
        <ion-list></ion-list>

        <img src="img/logo.png" width="100%" height="auto" style="width: 100%; height: auto;">
        <form class="list" name="frm_login" novalidate="novalidate" on-valid-submit="doLogin()">
        
            <label class="item item-input validated">
                <input type="email" ng-model="formData.email" required="required" name="email" placeholder="Email">
                <i class="icon ion-alert-circled error"></i>
            </label>
            <label class="item item-input validated ">
                <input class="" type="password" ng-model="formData.password" required="required" name="password" placeholder="Password">
                <i class="icon ion-alert-circled error"></i>
            </label>
            <div>
              <button type="submit" class="button icon-right ion-chevron-right button-block">
                login
              </button>
            </div>

            <div class="options text-center">
              <a>Login Without Password</a>
            </div>

            <div class="options text-center">
              <i><img src="img/password.png"></i>
              <a href="#/login/forgotten">Lost Password?</a>
            </div>
        </form>
    </ion-content>
</ion-view>
