 /*Empty. Add your own CSS if you like */

/*.col-10 	10%
.col-20 	20%
.col-25 	25%
.col-33 	33.3333%
.col-50 	50%
.col-67 	66.6666%
.col-75 	75%
.col-80 	80%
.col-90 	90%
*/
.is-table{display: table}
.is-table > *{display: table-cell;}
.button-bar > .button{background: #7CBDE9;border-color:#fff }
.button-bar > .button:first-child{border-top-left-radius: 5px;border-bottom-left-radius: 5px}
.button-bar > .button:last-child{border-top-right-radius: 5px;border-bottom-right-radius: 5px}
.col-100{width: 100%}
.calign{text-align: center}
.ralign{text-align: right}
.lalign{text-align: left !important}

.row.no-pad{padding: 0px}
.view-container.tab-content{bottom: 60px;top:0px;}
body .bg-primary {background-color: #337ab7;color: #fff;}
body .bg-success {background-color: #dff0d8;}
body .bg-danger {background-color: #f2dede}
.spinner {left: 45%;position: fixed;top: 20%;width: 50%;z-index: 10000}
/* Notifications */
.loading { display:block; position:fixed; top:-2px; left: calc(50% - 110px); width:220px; text-align:center; margin-left:-60px; background:#fff; color:#333; padding:10px 15px; font-size:12px; font-weight:bold; z-index:999999; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; box-shadow:0 0 5px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.3); -webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.3); }
.spinner svg {width: 19% !important;height: 85px !important;}
.food-cont .item-header{padding:0px;background: #4D91BF;color: #fff;border-top-left-radius: 5px !important;border-top-right-radius: 5px !important}
.food-cont .item-header h2{font-size:2em;color: #fff; font-size: 1.6em;line-height: 1.6em;white-space: normal }
.food-cont .item-header p{font-size:1.2em;color: #fff;overflow: visible }
.food-cont .ion-image{font-size:5em}
.food-cont .item-body{padding:0px;border:1px solid #7CBDE9; border-bottom-left-radius: 10px !important;border-bottom-right-radius: 10px !important}
.food-cont .item-body .rating-img{max-width: 80%}
.food-cont .item-body{color:#4D91BF}
.food-cont .item-body h4{color:#4D91BF;text-align: right;font-size: 1.8em;line-height: 1.8em;margin-top: 0px}
.food-cont .item-body .txt-cal{font-size: 1em;text-align: right;}
.food-cont .item-body .rating-count{color:#4D91BF;font-size: 1.5em !important;text-align: center;vertical-align: middle}
.food-cont .item-body > .row:nth-child(2){border-bottom:1px solid #7CBDE9 }
.food-cont .body-content h4{font-size: 1.7em;line-height: 1.7em;margin-top: 0px}
.food-cont .body-content .l-item h2{font-weight: bold; font-size: 1.7em;text-align: right;color:#4D91BF}
.food-cont .body-content .l-item img{display: inline-block;max-width: 6em;/*padding-left: 1em;*/}
.food-cont {margin-top: 5px !important}


.Data li,.options a{font-weight:700}
.data h1,.fact-num h1,.manual,.options,.options i,.padding-l-r h1,.padding-left,.top{position:relative}
.options{top:30px;padding:5px}
.options i{top:3px}
.options a{padding:10px;text-decoration:none;color:#7cbde9!important}
.top-head{color:#FFF!important;border-bottom:2px solid #fff!important;background-color:#4D91BF!important}
.manual,.title{border:none!important}
.vr h1{text-align:right;font-size:12px;color:#fff}
.manual,.style-contact-icon,.title{color:#fff!important}
.manual{background-color:#84C2EC!important;top:-5px;height:auto}
.bar.bar-header{background:#4D91BF}
.button-manual,.my-color{background-color:#589DCC!important}
.margin-top{margin-top:-7px}
.style-contact-icon{font-size:166px;padding:20px}
.profile h1{color:#fff;font-size:36px}
.fact-num h1{text-align:left;top:9px;color:#fff;font-size:22px}
.fact h1{color:#fff;font-size:16px;text-align:left!important}
.button-positive h1{color:#fff;font-size:21px;font-weight:700;padding-top:5px!important}
.Data li,.Data li h1{font-size:22px;color:#589DCC}
.my-color{border:1px solid #589DCC!important}
.top{top:5px}
.decorative{border:1px solid #84C2EC;border-radius:10px}
.data h1,.details li{font-size:15px;text-align:left}
.style-fields{width:100%;border:none!important}
.item-manual{border-width:0!important}
.details li{color:#589DCC;font-weight:600;width:auto}
.border-bottom{border-bottom:1px solid #84C2EC}
.padding-left{left:15px!important}
.data h1{top:-2px;color:#90CCF5}
.box{border:1px solid #90CCF5;border-radius:5px}
.bar-manual{height:auto!important}
.profile-icon{font-size:72px;color:#90CCF5;text-align:right}
.profile-name h1,.profile-name p{color:#90CCF5;text-align:left;font-size:18px}
.profile-name p{font-weight:300}
.padding-l-r{width:100%!important}
.button-manual{border:1px solid #589DCC!important}
.padding-l-r h1{font-size:18px;color:#fff;top:4px}
.seperator{width:100%;height:1px;background-color:#90CCF5}
.acc-details h1{color:#589DCC!important;font-size:22px;padding:10px}
.item-manual{border:1px solid #90CCF5!important;border-left:none!important;border-right:none!important;width:100%;margin-top:-6px}
.label-checkbox,.location{text-align:left;padding:0;height:25px;margin-top:-4px;position:relative;float:right}
.top-none{border-top:none!important}
.bottom-none{border-bottom:none!important}
.box ul li{color:#589DCC;font-size:16px;font-weight:600}
.acc-details{position:relative;margin-bottom:-12px;top:10px}
.label-checkbox{width:30px}
.location{right:24px;width:22px}
.button-setting h2,.button-setting i{color:#fff!important;text-align:center!important}
.button-setting{background-color:#589DCC!important;width:100%}
.button-setting i{padding:12px}
.button-setting h2{font-style:21px!important;margin-top:4px;padding-right:10px;font-size:22px}
.box-1{border:1px solid #90CCF5;border-radius:5px;position:relative;top:20px}
.font-bold{font-weight:700!important;font-size:21px!important}
.profile-icon2{font-size:20px;color:#90CCF5;text-align:right}
.ion-arrow-manual,.left-5{font-size:25px;font-weight:700;position:relative}
.ion-arrow-manual{float:right;right:10px}
.left-5{padding:12px}
.box-1 ul li{color:#589DCC;font-size:16px;font-weight:600}
.tab-left,.tab-right{font-size:15px;padding:10px}
.top-3{position:relative;top:3px}
.auth.tab{border:1px solid #A7A7A7}
.table{width:100%;text-align:center}
.tab-left{width:55%;float:left;text-align:left}
.tab-right{width:45%;float:right;text-align:right}
.border{border-bottom:8px solid #000}
.border1{border-bottom:5px solid #000}
.bold-fonts{float:left;font-size:25px;color:#000;font-weight:700}
.minor-font{font-size:11px;color:#000;position:relative;top:-2px;float:left}
.menu-fonts h2,.white{color:#4D91BF!important}
.border-lite{border:1px solid #000}
.menu-fonts h2{text-align:left;float:left;font-size:22px;position:relative;}
.font-size{font-size:54px;position:relative;left:15px}
.title{margin:0!important}
.view-container {}
.nutrient-tbl{padding:1em 10px }

/*Validation*/
form i.icon.error {
    color: #ef4e3a;
}
form input + i.icon.error {
    display: none;
    margin-right: 10px;
}
form.ng-submitted input.ng-invalid + i.icon.error {
    display: block;
}
form .has-error {
    border-left: 5px solid #cc2511;
}
form .has-success {
    border-left: 5px solid #3d8b3d;
}
form.ng-submitted input.ng-valid + i.icon.error {
    display: none;
}

.mrg-t-44{margin-top: 44px}
.no-header-in .has-header{top: 0px}
.loginBG
{
	background: url(../img/login_ScreenBG.jpg) no-repeat center center fixed;
	
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
   
}