<ion-view title="Alternate">
  <ion-content>
    <div class="row padding mrg-t-44">
      <div ng-show="product" class="button-bar bar-positive">
        <a class="button"  href="#/tab/scan/product">Scan</a>
        <a class="button"  href="#/tab/scan/info">More Info</a>
        <a class="button activated" href="#/tab/scan/alternate">Alternative</a>
      </div>
    </div>
    <div class="row">
      <div class="col-100">
          <div class="list card food-cont" style="margin-bottom:100px">
            <div class="item col-100 item-header">
              <div class="row">
                <div class="col col-33">
                 <i class="icon ion-android-checkbox-outline-blank font-size"></i>  
                </div>
                <div class="col col-67">
	  				     <h2>{{brand.name}}</h2>
					       <p>{{food_name}}</p>
                </div>
              </div>
            </div>
			  
			<div class="row" ng-repeat="item in alternate">
			  <div class="col col-33 text-center">
				  <span class="ion-image white"></span>
			  </div>
			  <div class="col col-67 menu-fonts">
				  <h2>{{item.name}}<br> {{item.id}}</h2>
			  </div>
			</div>
        </div>
      </div>
	</div>
  </ion-content>
</ion-view>
