<ion-view title="Information">
<ion-content>
    <div class="row padding mrg-t-44">
      <div ng-show="product" class="button-bar bar-positive">
        <a class="button"  href="#/tab/scan/product">Scan</a>
        <a class="button activated"  href="#/tab/scan/info">More Info</a>
        <a class="button" href="#/tab/scan/alternate">Alternative</a>
      </div>
    </div>
     <div class="row">
      <div class="col-100">
          <div class="list card food-cont" style="margin-bottom:100px">
            <div class="item col-100 item-header">
              <div class="row">
                <div class="col col-33">
                  <span class="ion-image"></span>    
                </div>
                <div class="col col-67">
                  <h2>{{food_name}}</h2>
                  <p>None</p>
                </div>
              </div>
            </div>
            <div class="nutrient-tbl">
                <table class="table tab">
                    <thead>
                        <tr class="border">
                          <td class="bold-fonts">Nutritient Facts <br>
                          <span class="minor-font">Several foods are available </span></td>
                        </tr>
                    </thead>

                    <tbody>
                        
                        <tr class="border-lite" ng-repeat="n in nutrient">
                          <td class="tab-left">{{camelCase(n[0])}}</td>
                          <td class="tab-right">{{n[1]}}</td>
                        </tr>

                        <tr class="border">
                          <td class="tab-left"><b>Vitamins</b></td>
                          <td class="tab-right">All</td>
                        </tr>
                        <tr class="border-lite" ng-repeat="v in vitamin">
                          <td class="tab-left">{{camelCase(v[0])}}</td>
                          <td class="tab-right"><b>{{v[1]}}</b></td>
                        </tr>

                    </tbody>
                </table>
            </div>
          </div>
      </div>
    </div>
 </ion-content>
</ion-view>

