<ion-view title="Scanner">

<ion-content>

<div class="row padding mrg-t-44">
      <div ng-show="product" class="button-bar bar-positive">
        <a class="button activated"  href="#/tab/scan/product">Scan</a>
        <a class="button" href="#/tab/scan/info">More Info</a>
        <a class="button" href="#/tab/scan/alternate">Alternative</a>
      </div>
</div>

<div class="row">
	<div class="col-100 calign">
		<button ng-click="scanImage()" class="button button-calm"><span style="margin-right: 5px;">Scan Producttttt</span><i class="ion-ios-camera"></i></button>
	</div>
</div>
<div class="row">
	<div ng-show="product" class="col-100">
	  <div class="list card food-cont">
		  <div class="item col-100 item-header">
			  <div class="row">
				  <div class="col col-33">
					  <span class="ion-image"></span>    
				  </div>
				  <div class="col col-67">
					  <h2>{{food_name}}</h2>
					  <p>{{category}}</p>
				  </div>
			  </div>
		  </div>
		  
		  <div class="item item-body col-100">
			  <div class="row">
				  <div class="col col-33">
					  <h4>Rating</h4>
				  </div>
				  <div class="col col-67 calign">
					  <img src="img/rating.png" class="rating-img" alt="img">
				  </div>
			  </div>
			  <div class="row"><!-- is-table -->
				  <div class="col col-67 txt-cal lalign">Calories per serving</div>
				  <div class="col col-33 rating-count" ng-bind-html="full_rating"></div>
			  </div>
			  <div class="body-content" style="margin-bottom:100px">
				  <div class="row">
					  <h4>Nutritional Analysis:</h4>
				  </div>
				  <div class="row l-item">
					  <div class="col col-50">
						  <h2>Fiber Rank</h2>
					  </div>
					  <div class="col col-50">
						  <h2 class="lalign">{{fiber_rank}}</h2>
					  </div>
				  </div>
				  <div class="row l-item">
					  <div class="col col-50">
						  <h2>Sugar Rank</h2>
					  </div>
					  <div class="col col-50">
						  <h2 class="lalign">{{sugar_rank}}</h2>
					  </div>
				  </div>
				  <div class="row l-item" ng-repeat="item in properties">
					  <div class="col col-50">
						  <h2>{{item.title}}</h2>
					  </div>
					  <div class="col col-50">
						  <img src="img/rating.png"  alt="img">
					  </div>
				  </div>
			  </div>			  
		  </div>
	  </div>
	</div>
</div>
 </ion-content>
</ion-view>
