<ion-view title="Information">
<ion-content>
    <div class="row">
        <div class="col col-10"></div>
        <div class="col col-80">
            <div class="decorative">
                <div class="row text-center border-bottom">

                    <div class="col col-25 padding-left">
                        <ul class="list details top">
                            <li>Rank:</li>
                        </ul>
                    </div>

                    <div class="col col-75 padding-left">
                        <ul class="list details top">
                            <li class="data"><h1>Foodie</h1></li>
                        </ul>
                    </div>
                </div>

                <div class="row text-center border-bottom">

                    <div class="col col-25 padding-left">
                        <ul class="list details top">
                            <li>Email:</li>
                        </ul>
                    </div>

                    <div class="col col-75 padding-left">
                        <ul class="list details top">
                            <li class="data"><h1>someone@example.com</h1></li>
                        </ul>
                    </div>
                </div>

                <div class="row text-center border-bottom">

                    <div class="col col-25 padding-left">
                        <ul class="list details top">
                            <li>Gender:</li>
                        </ul>
                    </div>

                    <div class="col col-75 padding-left">
                        <ul class="list details top">
                            <li class="data"><h1>Male</h1></li>
                        </ul>
                    </div>
                </div>

                <div class="row text-center border-bottom">

                    <div class="col col-25 padding-left">
                        <ul class="list details top">
                            <li>Country:</li>
                        </ul>
                    </div>

                    <div class="col col-75 padding-left">
                        <ul class="list details top">
                            <li class="data"><h1>Pakistan</h1></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-10"></div>
    </div>
 </ion-content>
</ion-view>

