﻿<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <title></title>
    <link href="lib/ionic/css/ionic.min.css?v=3" rel="stylesheet">
    <link href="css/style-lvApp.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="js/ionic.bundle.min.js"></script>
    <script src="js/lib.js"></script>
   <!-- Font reference section -->
    <link href="lib/robotodraft/robotodraft.css">
    <!-- end Font reference section -->
       <!-- CSS reference section -->
    <link rel="stylesheet" href="css/ionic.app.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet prefetch" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="lib/font-awesome-4.4.0/css/font-awesome.css">
    <!-- end CSS reference section -->
    <!-- Angular javascript lib -->
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <!-- end Angular javascript lib -->
    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
       <!-- jQuery section-->
    <script src="lib/jQuery/jquery.js"></script>
    <!-- end jQuery section-->

    <script src="js/shared/directives.js"></script>
    <script src="js/shared/filter.js"></script>
    <script src="js/shared/controllers.js"></script>
    <script src="templates/menu/js/controllers.js"></script>
    <script src="templates/material-user-interface/dashboard/js/controllers.js"></script>
    <script src="templates/application-storage/sqLite/js/controllers.js"></script>
    <script src="templates/application-storage/sqLite/js/services.js"></script>
    <script src="templates/application-storage/local-application-db/js/controllers.js"></script>
    <script src="templates/application-storage/local-application-db/js/services.js"></script>
    <script src="templates/social-network-connect/facebook/js/controllers.js"></script>
    <script src="templates/social-network-connect/instagram/js/controllers.js"></script>
    <script src="templates/social-network-connect/google-plus/js/controllers.js"></script>
    <script src="templates/social-network-connect/foursquare/js/controllers.js"></script>
    <script src="templates/social-network-connect/dropbox/js/controllers.js"></script>
    <script src="templates/share-application-content/social-share/js/controllers.js"></script>
    <script src="templates/share-application-content/email-message/js/controllers.js"></script>
    <script src="templates/hardware-connect/device-information/js/controllers.js"></script>
    <script src="templates/hardware-connect/mobile-contract/js/controllers.js"></script>
    <script src="templates/hardware-connect/flash-light/js/controllers.js"></script>
    <script src="templates/hardware-connect/vibration/js/controllers.js"></script>
    <script src="templates/advertising-application/googleAdmob/js/controllers.js"></script>
    <script src="templates/hardware-connect/image-picker/js/controllers.js"></script>
    <script src="templates/social-network-connect/wordpress/js/controllers.js"></script>
    <script src="templates/material-user-interface/dashboard/js/controllers.js"></script>
    <script src="templates/material-user-interface/default-user-interface/js/controllers.js"></script>
    <script src="templates/themes/menu-dashboard/js/controllers.js"></script>
    <script src="templates/themes/expense-dashboard/js/controllers.js"></script>
    <script src="templates/themes/catalog/js/controllers.js"></script>
    <script src="templates/push-notification/single-push-notification/js/controllers.js"></script>
    <script src="templates/push-notification/schedule-push-notification/js/controllers.js"></script>
    <script src="templates/map-and-location/ios-map-connect/js/controllers.js"></script>
    <script src="templates/map-and-location/android-map-connect/js/controllers.js"></script>
  </head>
  <!-- animation="slide-left-right-ios7" -->
  <body ng-app="lavoApp">
    
    <div ng-show="message_show" class="loading {{message_class}}">{{message_text}}</div>
    <ion-nav-view></ion-nav-view>
  </body>

  <script id="tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-color-active-positive"> 
      <ion-tab title="Scan" icon="icon ion-ios-barcode" href="#/tab/scan/product">
        <ion-nav-view name="tab_scan"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Setting" icon="icon ion-gear-a" href="#/tab/setting">
        <ion-nav-view name="tab_setting"></ion-nav-view>
      </ion-tab>
      <ion-tab title="About" icon="icon ion-information-circled" href="#/tab/about">
        <ion-nav-view name="tab_about"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </script>
</html>
